// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "h5bp";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line
@include h5bp-normalize;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";

// Helpers classes should come second-to-last
@include h5bp-helpers;

// Media should come last
@import "partials/media";

@import "partials/stytle";

div{background: red}

#main
{
background:#FFAC55; 
width: 99.5%

}

#divlist
{
height:25%
}

#next_page_div
{
/* position:fixed;
 left:50%;
 top:97.4%;*/
/* z-index:-1;*/
}

.divs
{
float: left;
height: 170px;
width: 33%;
border:#FFAFFE 1px solid; 
/*background:linear-gradient(0deg,#FFAC55,#FDFF55);*/
background:#91FF92;
}

#sing_sub
{
background: url("/img/blue.jpg");
}

li
{
list-style-type:none;
font-size:15px;
font-family: 標楷體;
font-style: italic;
color: purple;
/*text-shadow: 10px 8px 5px green ;*/
}




#player
{
margin-top:25px; 
}