/* line 1, ../../sass/partials/stytle.scss */
.header {
  position: relative;
  height: 50px;
}
/* line 4, ../../sass/partials/stytle.scss */
.header .logo {
  position: absolute;
  width: 200px;
  left: 5%;
}
/* line 10, ../../sass/partials/stytle.scss */
.header .logo .fa-music {
  color: blue;
}
/* line 13, ../../sass/partials/stytle.scss */
.header .logo a {
  text-align: center;
  font-size: 20px;
  width: 124px;
  height: 20px;
  padding: 7px 0;
}

/* line 24, ../../sass/partials/stytle.scss */
.container .tv_video {
  width: 100%;
  height: 650px;
  background-color: #333;
  padding: 10px;
  margin-bottom: 15px;
}
/* line 31, ../../sass/partials/stytle.scss */
.container .tv_video .playerout {
  padding-top: 10px;
  width: 780px;
  margin: 0 auto;
}
/* line 35, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .full_fram {
  width: 100%;
  height: 100%;
}
/* line 38, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .full_fram iframe {
  width: 780px;
  height: 438px;
}
/* line 44, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .video_info h3 {
  color: #fff;
  text-align: center;
  font-size: 22px;
}
/* line 50, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div {
  width: 780px;
  height: 50px;
}
/* line 54, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .views {
  padding: 15px 0;
  width: auto;
  height: 20px;
  float: left;
}
/* line 59, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .views div {
  padding-top: 20px;
}
/* line 61, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .views div p {
  color: #fff;
  width: 150;
  display: block;
  float: left;
  color: red;
  font-size: 20px;
  margin: 0px;
}
/* line 72, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .views div .views_text {
  color: #fff;
  width: 150;
  display: block;
  float: left;
  color: red;
  font-size: 20px;
  margin: 0px;
}
/* line 85, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div {
  padding: 15px 0;
  width: auto;
  height: 20px;
  float: right;
}
/* line 91, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div #viz {
  display: inline;
}
/* line 93, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div #viz #analyser {
  height: 100px;
  display: inline;
  background: #202020;
}
/* line 99, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div #viz #wavedisplay {
  height: 100px;
  display: inline;
  background: #202020;
}
/* line 107, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div #record {
  display: inline;
  width: 70px;
  height: 80px;
}
/* line 112, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div #save {
  display: inline;
}
/* line 116, ../../sass/partials/stytle.scss */
.container .tv_video .playerout .views_search_div .search_div #save #save_btn {
  width: 50px;
  height: 80px;
}
/* line 133, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out {
  padding: 10px 0;
  margin-bottom: 10px;
}
/* line 137, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container {
  width: 960px;
  height: 630px;
  margin: 0 auto;
}
/* line 141, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container .block_title {
  display: inline;
  width: 950px;
  height: 20px;
}
/* line 146, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container .block_title h3 {
  display: inline;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #999;
}
/* line 155, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container .block_title #search_input {
  height: 20px;
  float: right;
}
/* line 160, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container .block_title #search_input #sing_text {
  height: 20px;
  border: 1px solid #BBBBBB;
  background: #fff;
  /* 邊角圓弧化，不同瀏器覧設定不同　*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 169, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container .block_title #search_input #sing_sub {
  height: 20px;
  border: 1px solid #BBBBBB;
  background: #fff;
  /* 邊角圓弧化，不同瀏器覧設定不同　*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 181, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs {
  width: 240px;
  height: 170px;
  float: left;
  padding-top: 20px;
}
/* line 186, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs .img_fa {
  margin-right: 0px;
  float: left;
  position: relative;
}
/* line 190, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs .img_fa i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -20px;
  color: #fff;
}
/* line 198, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs .img_fa h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  margin-top: 40px;
  margin-left: 40px;
  color: #fff;
}
/* line 208, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs .img_fa p {
  position: absolute;
  width: 230px;
  height: 30px;
  top: 50%;
  left: 50%;
  color: #fff;
  margin-top: 30px;
  margin-left: -115px;
  opacity: 0.85;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-weight: bolder;
  background-color: rgba(220, 0, 0, 0.8);
}
/* line 226, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs .title {
  list-style-type: none;
  display: block;
  margin-before: 0em;
  margin-after: 1.33em;
  text-align: left;
  font: 13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-weight: bold;
  float: left;
  display: inline;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
/* line 240, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .tv_postgrid_container #tv_postgrid .divs .title .time {
  color: #999;
  font-size: 11px;
  font-weight: normal;
  display: inline;
}
/* line 253, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .next_previouspage {
  width: 150px;
  margin: 0 auto;
}
/* line 256, ../../sass/partials/stytle.scss */
.container .tv_postgrid_container_out .next_previouspage a {
  font-size: 16px;
  border: 1px solid #ddd;
  color: #0079ff;
  padding: 11px 17px;
  min-width: 64px;
}
/* line 266, ../../sass/partials/stytle.scss */
.container .slogan_bar {
  width: 100%;
  height: 50px;
  background: #000;
  background-color: #ffffff;
  padding: 20px;
}
/* line 272, ../../sass/partials/stytle.scss */
.container .slogan_bar .slogan {
  width: 910px;
  height: 20px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
/* line 278, ../../sass/partials/stytle.scss */
.container .slogan_bar .slogan h2 {
  margin: 0 auto;
  float: left;
  width: 600px;
  height: 20px;
  font-size: 15px;
}
/* line 289, ../../sass/partials/stytle.scss */
.container .tv_subcriver {
  width: 100%;
  height: 202px;
  background-color: #F5F5F5;
}

/* line 297, ../../sass/partials/stytle.scss */
.footer {
  width: 100%;
  height: 220px;
  padding: 40px 0;
  background-color: black;
}
/* line 303, ../../sass/partials/stytle.scss */
.footer .AD_view {
  width: 940px;
  height: 108px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #333;
  margin-bottom: 40px;
}
/* line 310, ../../sass/partials/stytle.scss */
.footer .AD_view .mg_view {
  width: 728px;
}
/* line 314, ../../sass/partials/stytle.scss */
.footer .link_view {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  font: 13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
/* line 319, ../../sass/partials/stytle.scss */
.footer .link_view .url {
  margin: px;
  width: 150px;
}
/* line 322, ../../sass/partials/stytle.scss */
.footer .link_view .url a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
/* line 328, ../../sass/partials/stytle.scss */
.footer .link_view li {
  margin: 8px;
  color: #fff;
  width: 150px;
  list-style-type: none;
  display: inline;
}

/* line 340, ../../sass/partials/stytle.scss */
#record.recording {
  background: red;
  background: -webkit-radial-gradient(center, ellipse cover, red 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
  background: -moz-radial-gradient(center, ellipse cover, red 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
  background: radial-gradient(center, ellipse cover, #ff0000 0%, #d3d3d3 75%, #d3d3d3 100%, #7db9e8 100%);
}

/* line 347, ../../sass/partials/stytle.scss */
#save {
  opacity: 0.25;
}

/* line 348, ../../sass/partials/stytle.scss */
#save[download] {
  opacity: 1;
}
